<h1>Update User3</h1>

<form action="/update" method="POST"> 
    IdDistrict: <input type="text" name="IdDistrict"value="<%= lops.IdDistrict %>"><br>
    IdVillage: <input type="text" name="IdVillage"value="<%= lops.IdVillage%>"><br>
    Address: <input type="text" name="Address"value="<%= lops.Address %>"><br>
    IsGetNotification : <input type="text" name="IsGetNotification" value="<%= lops.IsGetNotification %>"><br>
    IsVerified: <input type="text" name="IsVerified"value="<%= lops.IsVerified %>"><br>
    IsGetOpen: <input type="text" name="IsGetOpen"value="<%= lops.IsGetOpen %>"><br>
    <button type="submit">Update User3</button>
</form>

